body {
  background-color: #4a9690;
  font-family: 'Indie Flower', cursive;
  color: #fff;
}

#container {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; /* vertical center */
  left: 0; right: 0; /* horizontal center */
  overflow: hidden;
}

.vertical {
  position: absolute;
  right: 0; bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play {
  transform: translate(0, -15%);
}

#rating {
  transform: translate(0, 10%);
}

#about {
  transform: translate(0, -5%);
}

.screen {
  display: none;
  position: absolute;
  width: 100%; height: 100%;
  right: 0; bottom: 0;
}

canvas { 
	border:0;
	display:block;
	margin:0 auto;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 5% 0;
}

p {
  text-align: center;
  font-size: 60px; 
  padding: 30px 0px; 
  line-height: 48px; 
  margin: 0;
}

.table {
  font-size: 36px;
  line-height: 80px; 
  color: black;
}

.left {
  float: left;
  width: 50%;
}

.right {
  text-align: right;
  float: right;
  width: 50%;
}
