body {
  background-color: #4a9690;
  font-family: 'Indie Flower', cursive;
  color: #fff;
}

#container {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; /* vertical center */
  left: 0; right: 0; /* horizontal center */
  overflow: hidden;
}

.vertical {
  position: absolute;
  right: 0; bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play {
  transform: translate(0, -30%);
}

#rating {
  transform: translate(0, 10%);
}

#about {
  transform: translate(0, -5%);
}

.screen {
  display: none;
  position: absolute;
  width: 100%; height: 100%;
  right: 0; bottom: 0;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 5% 0;
}

p {
  text-align: center;
  font-size: 60px; 
  padding: 30px 0px; 
  line-height: 48px; 
  margin: 0;
}

.table {
  font-size: 36px;
  line-height: 80px; 
  color: white;
}

.left {
  float: left;
  width: 50%;
}

.right {
  text-align: right;
  float: right;
  width: 50%;
}


#loader {

  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}