@font-face {
  font-family: 'Calibri';
  src: url('calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Berlin';
  src: url('BRLNSDB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}